/**
 * @name Mystic Custom Theme 11 Jan 23
 * @author The Mystic System
 * @version 1.0.0
 * @description A custom theme written by The Mystic System. Credits to Adrian (Mystic), DevilBro (BD Dev), Mwittrien (BD Dev).
 * @source https://github.com/TheMysticUniverse/discordthemes/blob/main/mysticcustomthemejan.theme.css
 * @website https://github.com/TheMysticUniverse/discordthemes/blob/main/mysticcustomthemejan.theme.css
 * @authorId 209377503796527104
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.imgur.com/kY9os5i.jpg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 24,133,166;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.78;
  --messagetransparency: 0;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --textbrightest: 255,255,255;
  --textbrighter: 196,196,196;
  --textbright: 132,129,129;
  --textdark: 90,90,90;
  --textdarker: 76,76,76;
  --textdarkest: 47,46,46;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

/* Any custom CSS below here */


